@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

#root {
background-color: #121212;
}

.parent {
  position: relative;
}

.opacity-gradient-wrapper {
  position: relative;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.parent {
  position: relative;
}

body::before {
  background: #0d0409;
  filter: url(#grainyTexture);
}

